.vbox {
    -fx-border-width:5;
    -fx-border-color:blue;
}

#menuItemSyncEmails > .label {
    -fx-graphic: url("Resources/email.png");
}

#menuItemSyncHDB > .label {
    -fx-graphic: url("Resources/file.png");
}

#menuItemOpenWebpage > .label {
    -fx-graphic: url("Resources/web.png");
}
#menuItemSyncZH > .label {
    -fx-graphic: url("Resources/web.png");
}

#menuItemReloadTable > .label {
    -fx-graphic: url("Resources/reload.png");
}

#menuItemBackupDb > .label {
    -fx-graphic: url("Resources/db.png");
}

#menuItemConfirmDelivery > .label {
    -fx-graphic: url("Resources/delivery.png");
}


#menuItemEditOrder > .label {
    -fx-graphic: url("Resources/order.png");
}

#menuItemEditUsTrk > .label {
    -fx-graphic: url("Resources/ship.png");
}

#menuItemExportTable > .label {
    -fx-graphic: url("Resources/save.png");
}

#menuItemQuit > .label {
    -fx-graphic: url("Resources/exit.png");
}

#menuItemNewOrder > .label {
    -fx-graphic: url("Resources/neworder.png");
}

#menuItemNewUsTrk> .label {
    -fx-graphic: url("Resources/ground.png");
}

#menuItemNewIntlTrk> .label {
    -fx-graphic: url("Resources/intltrk.png");
}

#menuItemNewCnTrk> .label {
    -fx-graphic: url("Resources/ground.png");
}

#menuItemNewProduct> .label {
    -fx-graphic: url("Resources/newprd.png");
}

#menuItemNewAddr> .label {
    -fx-graphic: url("Resources/newaddr.png");
}

#menuItemNewCarrier> .label {
    -fx-graphic: url("Resources/newshipper.png");
}

#menuItemNewStore> .label {
    -fx-graphic: url("Resources/store.png");
}

#menuItemAbout> .label {
    -fx-graphic: url("Resources/about.png");
}

#menuItemStat> .label {
    -fx-graphic: url("Resources/stat.png");
}


#menuItemUploadZZ> .label {
    -fx-graphic: url("Resources/upload.png");
}

#menuItemUploadZH> .label {
    -fx-graphic: url("Resources/upload.png");
}

#menuItemViewSet>.label {
    -fx-graphic: url("Resources/view.png");
}

#menuItemSetTemplate>.label {
    -fx-graphic: url("Resources/template.png");
}

#menuItemImportTB>.label {
    -fx-graphic: url("Resources/tb.png");
}

#menuItemSyncDelieverd>.label{
    -fx-graphic: url("Resources/batch.png");
}

#menuItemQuerySoldQuantity>.label{
    -fx-graphic: url("Resources/batch.png");
}

#menuItemLoadMore>.label{
    -fx-graphic: url("Resources/loadmore.png");
}

#menuItemCheckCancel>.label{
    -fx-graphic: url("Resources/checkcancel.png");
}

#menuItemSyncAmazon>.label{
    -fx-graphic: url("Resources/amazon.png");
}

.button {

    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 12 px;
    -fx-font-weight: bold;
}

.button:pressed{
   -fx-text-fill: #A9A9A9;
   
}
